@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}


.nav-link{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    position: fixed;
    z-index: 100000;
    width: 100%;
}


.header h2{
font-size: 2rem;
font-weight: bold;
color: #fff;
letter-spacing: 3px;
}

.header span{
    color: rgb(97, 210, 230);
}


.nav-link ul{
display: flex;
gap: 3rem;
align-items: center;
}

li{
list-style: none;
text-transform: uppercase;
font-weight: 500;
font-size: 18px;
letter-spacing: 3px;
transition: 0.6s;
}

li a{
text-decoration: none;
color: rgb(97, 210, 230);
border-radius: 1rem;
padding: 5px 1rem;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: 500;
}


li a:hover{
background-color: rgb(97, 210, 230);
color: #fff;

}

.banner{
height: 100%;
width: 100%;
position: absolute;
background-size: cover;
top: 0;
z-index: -1;
}

.info{
    color: rgb(97, 210, 230);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.section h4{
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.contacts{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -31rem;
    left: .3rem;
    width: 5rem;
}


.contacts a {
    font-size: 36px;
    padding-right: 10px;
    padding: 2.57rem;
}

.contacts a:hover{
    scale: 1.2;
}


.fa-facebook{
    color: rgb(97, 210, 230);
}

.fa-github{
    color: rgb(97, 210, 230);
}

.fa-envelope{
    color: rgb(97, 210, 230);
}

.fa-instagram{
    color: rgb(97, 210, 230);
}

.persue{
    top: -3.2rem;
    position: relative;
}



.persue h3{
    color: aqua;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    bottom: -4rem;
    position: relative;
}

.persue p{
    display: flex;
    justify-content: center;
    color: aqua;
    font-size: 1.1rem;
    position: relative;
    bottom: -4rem;
}

.table{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.container{
    border: 2.5px solid #fff;
    height: 12rem;
    width: 15rem;
    padding: 3rem 3rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px aqua;
    background-color: rgb(4, 113, 133);
}

.container .info-2{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    top: -2rem;
    right: -4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.container .info2-2{
    position: relative;
    right: -2.5rem;
    top: -1.8rem;
    color: rgb(97, 210, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.box i{
    padding: .5rem;
    top: -1rem;
    position: relative;
    right: -1rem;
    transition: scale .5s all ease-in-out;
}

.box i:hover{
    scale: 1.2;
}


.box .name-language{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    bottom: 1.5rem;
    display: flex;
    gap: 1.2rem;
    position: relative;
    justify-content: center;
    font-size: 1rem;
    right: -.5rem;
}

.box .details{
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    top: -.4rem;
}


.fa-html5{
    color: orangered;
    font-size: 4rem;
}

.fa-css3-alt{
    color: blue;
    font-size: 4rem;
}

.fa-square-js{
    color: yellow;
    font-size: 4rem;
}


.container-2{
    border: 2.5px solid #fff;
    height: 12rem;
    width: 15rem;
    padding: 3rem 3rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px aqua;
    background-color: rgb(4, 113, 133);
}

.container-2 .info-3{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    top: -2rem;
    right: -5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.container-2 .info3-3{
    position: relative;
    right: -3.5rem;
    top: -1.8rem;
    color: rgb(97, 210, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


.box-2 i{
    padding: .5rem;
    top: -1rem;
    position: relative;
    right: -3.5rem;
    transition: scale .5s all ease-in-out;
}

.box-2 i:hover{
scale: 1.2;
}


.box-2 .details{
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    top: -.5rem;
    position: relative;

}

.box-2 .name-language{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    bottom: 1.5rem;
    display: flex;
    gap: 2rem;
    position: relative;
    justify-content: center;
    font-size: 1rem;
}


.fa-square-github{
    color: #fff;
    font-size: 4rem;
}

.fa-git-alt{
    color: rgb(241, 85, 13);
    font-size: 4rem;
}